
.company-name{
  color: #FE3B1F;
  font-weight: bold;
  font-size: x-large;
  font-family: "BPG No9", sans-serif;

}
.page-indexer{
  font-weight: bold;
  font-size: x-large;
  font-family: "BPG No9", sans-serif;

}
.header{
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right:15%;
  margin-top: 5%;
  width: 70%;
}
.hr-for-header{
  margin-left: 15%;
  margin-right:15%;
  width: 70%;
}

.next{
  font-size: xxx-large;
}

.previous{
  font-size: xxx-large;
}
.button-mix{
margin-left: 50%;
}

.input-text{
  width: 413px;
  height: 30px;
}
.display-form{
  margin-left: 15%;
  margin-top: 3%;
  width: 300px;
}
.for-padding{
  margin-top: 20px;
}
.for-padding-h4{
  margin-top: 10px;
  font-weight: bold;
}
.custom-control-label{
  margin: 5px;
}
.showDiv{
  height: 200px;
  width: 500px;
  display: block !important;
}
.style-button{
  background-color: #208298;
  color: white;
  width: 122px;
  height: 38px;
  border-radius: 42px;
  margin-left: 90%;
  border: white;
  margin-top: 5px;
}
