
.company-name{
  color: #FE3B1F;
  font-weight: bold;
  font-size: x-large;
  font-family: "BPG No9", sans-serif;

}
.page-indexer{
  font-weight: bold;
  font-size: x-large;
  font-family: "BPG No9", sans-serif;

}
.header{
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right:15%;
  margin-top: 5%;
  width: 70%;
}
.hr-for-header{
  margin-left: 15%;
  margin-right:15%;
  width: 70%;
}

.next{
  margin-left: 50px;
  font-size: xxx-large;
  font-weight: lighter;
  margin-top: 33%;
}

.previous{
  font-size: xxx-large;
  font-weight: lighter;
  margin-top: -25px;
  margin-left: -150px;
}

.input-text{
  width: 413px;
  height: 30px;
}
.display-form{
  margin-left: 15%;
  margin-top: 3%;
  width: 300px;
}
.for-padding{
  margin-top: 20px;
}
.for-padding-h4{
  margin-top: 10px;
  font-weight: bold;
}
.custom-control-label{
  margin: 5px;
  width: 900px;
}
.showDiv{
  height: 200px;
  width: 500px;
  display: block !important;
}
.input-size{
  width: 300px;
}
.margin-from{
  margin-top: 20px;
  margin-left: 10px
}
